dot.ssh/*
!dot.ssh/config
dot.xmonad/*
!dot.xmonad/xmonad.hs
!dot.xmonad/hooks
!dot.xmonad/xmonad-gnome.hs
dot.pip/*
!dot.pip/pip.conf
dot.config/configstore/insight-bower.yml

bin/terraform-*
bin/terraform
bin/otto

dot.virtualenvs/*
!dot.virtualenvs/pre*
!dot.virtualenvs/post*
!dot.virtualenvs/get_env_details
!dot.virtualenvs/initialize
